#bilderraten #bilderraten-container {
    display: block;
    position: relative;
    width: 850px;
    height: 650px;
    margin: 0px auto;
    margin-top: -30px;
}

#bilderraten #bilderraten-container-canvas {
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0px auto;
    margin-top: 10px;
}

#button-stopp {
    display: block;
    margin: 0px auto;
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    font-size: 30px;
    margin-top: -130px;
    background-color: rgb(0, 255, 0);
}

#answer-bilderraten {
    margin: 0px auto;
    position: relative;
    border-radius: 20%;
    width: 200px;
    height: 30px;
    font-style: italic;
    font-size: 20px;
    bottom: 50px;
}

#button-stopp:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 0 , 0.8);
}

#result-bilderraten {
    display: block;
    position: relative;
    width: 360px;
    height: 400px;
    margin: 0px auto;
    clear: both;
    margin-top: 40px;
    background-color: rgba(192,192,192,0.3);
}

#result-bilderraten:hover {
    cursor: pointer;
    background-color: rgba(192,192,192,0.5);
}

#result-bilderraten .feedback {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    margin-left: 32%;
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#result-bilderraten .correct {
    position: absolute;
    text-align: center;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#result-bilderraten .continue {
    position: absolute;
    bottom: 10px;
    margin-left: 25%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#game-message {
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid orange;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

#snoopy-flight .snoopyImage {
    display: block;
    position: absolute;
    width: 115px;
    height: 88px;
    top: 290px;
}