#description-site {
    display: block;
    position: relative;
    width: 1600px;
    height: 620px;
    margin: 0px auto;
    margin-top: -20px;
}


#description {
    display: block;
    position: relative;
    width: 440px;
    height: 530px;
    float: left;
    background-color: rgba(255, 255, 255, 0.65);
}

#minigames {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#list-minigames {
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;
}

#minigame0 {
    margin-top: 10px;
}

#minigame1 {
    margin-top: 10px;
}

#minigame2 {
    margin-top: 10px;
}

#minigame3 {
    margin-top: 10px;
}

#minigame4 {
    margin-top: 10px;
}

#minigame5 {
    margin-top: 10px;
}

#minigame6 {
    margin-top: 10px;
}

#minigame0:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

#minigame1:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

#minigame2:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

#minigame3:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

#minigame4:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

#minigame5:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

#minigame6:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

#back-button {
    display: block;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    text-align: center;
    line-height: 140px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 33%;
    margin-top: -10px;
    background-color: rgb(178, 34, 34);
}

#back-button:hover {
    cursor: pointer;
    background-color: rgba(178, 34, 34, 0.8);
}

#minigame-description {
    display: block;
    position: relative;
    width: 450px;
    height: 530px;
    margin-left: 80px;
    float: left;
    background-color: rgba(255, 255, 255, 0.65);
}

#screen {
    display: block;
    position: relative;
    width: 509px;
    height: 530px;
    margin-left: 80px;
    float: left;
}

#title {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#text {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

#test-button {
    display: block;
    position: absolute;
    border-radius: 10%;
    width: 170px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
    bottom: 10px;
    right: 210px;
    background-color: rgba(0, 255, 0, 0.8);
}

#test-button:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 0, 0.7);
}


