#game-title {
    margin-top: 20px;
    margin-left: 10px;
    width: 580px;
    height: 100px;
}

#game-won-text {
    display: block;
    position: absolute;
    font-size: 75px;
    font-weight: bold;
    width: auto;
    height: auto;
    color: burlywood; 
    margin-top: 20px;
    /*text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    text-shadow:  3px 0px black, 9px 8px 0px rgba(0,0,0,0.15);
}

#won-delete-player {
    position: fixed;
    display: block;
    right: 5%;
    bottom: 5%;
    color: #FFF;
    background-color: #900;
    border-radius: 30%;
    width: 130px;
    height: 130px;
    font-size: 30px;
    text-align: center;
    line-height: 130px;  
}

#won-delete-player:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.7);
}

#show-highscore {
    position: fixed;
    display: block;
    right: 5%;
    top: 5%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    width: auto;
    height: auto;
    border-radius: 15px;
    border: 3px solid;
    border-color:  black;
    background-color: rgb(100, 100, 150);
}

#show-highscore:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 150, 0.8);
}

#highscore-view {
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 200px;
    height: auto;
    margin: 0px auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0,0,0);
    background-color: rgba(152,251,152, 0.8);
}

#highscoreTable {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

#close-highscore-button {
    border-width: 1px;
    border-color: rgb(0,0,0);
    background-color: rgb(32,178,170)
}
