#game-over {
    display: block;
    position: relative;
    width: 850px;
    height: 700px;
    margin: 0px auto;
    margin-top: -30px;
}

#game-over-image {
    width: 800px;
    height: 351px;
    margin: 0px auto;
}

#game-over-snoopy {
    width: 260px;
    height: 111px;
    margin-top: 10px;
    margin: 0px auto;
}

#buttons {
    position: relative;
    width: 400px;
    height: 150px;
    margin: 0px auto;
    margin-top: 20px;
}

#buttons .button-start {
    display: block;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    float: left;
    text-align: center;
    line-height: 140px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: #900;
}

#buttons .button-game {
    display: block;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    float: right;
    text-align: center;
    line-height: 140px;
    font-weight: bold;
    font-size: 30px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: rgb(0, 200, 50);
}

#buttons .button-start:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.7);
}

#buttons .button-game:hover {
    cursor: pointer;
    background-color: rgba(0, 200, 50, 0.7);
}
