#hangman #container {
    display: block;
    position: relative;
    width: 1600px;
    height: 700px;
    margin: 0px auto;
    margin-top: 45px;
}


#hangman #hangman-container {
    display: block;
    position: relative;
    width: 740px;
    height: 600px;
    margin: 0px auto;
    margin-left: 20px;
    margin-top: 20px;
}

#hangman #hangman-container-canvas {
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0px auto;
    margin-top: 50px;
}

#button {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
    font-weight: bold;
    font-size: 25px;
    margin-top: -260px;
    margin-left: 80px;
    background-color: rgb(210, 105, 30);
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

#button:hover {
    cursor: pointer;
    background-color: rgba(210, 105, 30, 0.8);
}


