#quiz-4-answers #four-answers-container {
    display: block;
    position: relative;
    width: 690px;
    height: 640px;
    margin: 0px auto;
    margin-top: -50px;
}

#four-answers-answerField {
    position: relative;
    width: 550px;
    height: 105px;
    top: -30px;
    margin: 0px auto;
    margin-top: 5px;
}

#four-answers-answerField .answer1 {
    display: block;
    width: 230px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: rgb(30, 150, 255);
}

#four-answers-answerField .answer2 {
    display: block;
    width: 230px;
    height: 40px;
    float: right;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 40px;
    margin-top: 10px;
    background-color: rgb(30, 150, 255);
}

#four-answers-answerField .answer3 {
    display: block;
    width: 230px;
    height: 40px;
    clear: both;
    float: left;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 40px;
    margin-top: 5px;
    background-color: rgb(30, 150, 255);
}

#four-answers-answerField .answer4 {
    display: block;
    width: 230px;
    height: 40px;
    float: right;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 40px;
    margin-top: 5px;
    background-color: rgb(30, 150, 255);
}

#four-answers-answerField .answer1:hover {
    cursor: pointer;
    background-color: rgba(30, 150, 255, 0.7);
}

#four-answers-answerField .answer2:hover {
    cursor: pointer;
    background-color: rgba(30, 150, 255, 0.7);
}

#four-answers-answerField .answer3:hover {
    cursor: pointer;
    background-color: rgba(30, 150, 255, 0.7);
}

#four-answers-answerField .answer4:hover {
    cursor: pointer;
    background-color: rgba(30, 150, 255, 0.7);
}

#snoopy {
    display: block;
    position: absolute;
    width: 150px;
    height: 186px;
    top: 290px;
}
