#game-container {
    display: block;
    position: relative;
    width: 80%;
    height: 60%;
    margin: 0px auto;
    margin-top: -40px;
}

#quiz-wahr-falsch #wahr-falsch-container {
    display: block;
    position: relative;
    width: 690px;
    height: 640px;
    margin: 0px auto;
    margin-top: -30px;
}

.hidden {
    display: none;
}

#time {
    position: absolute;
    top: 50px;
    right: 50px;
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 5px solid orange;
    border-color: rgb(200, 90, 90);
    background-color: yellow; 
}

#view {
    position: relative;
    width: 400px;
    height: 50px;
    margin: 0px auto;
    top: 10px;
}

#view .score {
    display: block;
    width: 130px;
    height: 130px;
    line-height: center;
    float: left;
    font-weight: bold;
    font-size: 40px;
    margin-left: 25px;
    margin-top: -7px;
    color: rgb(0, 255, 0);
}

#view .heart {
    display: block;
    width: 40px;
    height: 36px;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

#questionField {
    position: relative;
    width: 360px;
    height: 400px;
    margin: 0px auto;
    clear: both;
    top: -65px;
    background-color: rgba(255, 255, 255, 0.65);
}

#questionField .question {
    position: absolute;
    text-align: center;
    margin-top: 140px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    font-weight: bold;
}

#answers {
    position: relative;
    width: 400px;
    height: 150px;
    top: -60px;
    margin: 0px auto;
    margin-top: 5px;
}

#answers .answer1 {
    display: block;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    float: left;
    text-align: center;
    line-height: 140px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgb(0, 255, 0);
}

#answers .answer2 {
    display: block;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    float: right;
    text-align: center;
    line-height: 140px;
    font-weight: bold;
    font-size: 30px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: rgb(255, 0, 0);
}

#answers .answer1:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 0, 0.5);
}

#answers .answer2:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
}

#result {
    position: relative;
    width: 360px;
    height: 400px;
    margin: 0px auto;
    clear: both;
    top: -65px;
    background-color: rgba(192,192,192,0.6);
}

#result:hover {
    cursor: pointer;
    background-color: rgba(192,192,192,0.5);
}


#result .feedback {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    margin-left: 32%;
    font-size: 35px;
    font-weight: bold;
}

#result .correct {
    position: absolute;
    text-align: center;
    margin-top: 140px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    font-weight: bold;
}

#result .continue {
    position: absolute;
    bottom: 10px;
    margin-left: 25%;
    font-size: 20px;
    font-weight: bold;
}
