#game-container #snake-canvas-div .canvas-container{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto ;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(30, 30, 30, 1);
}

#snake-score {
    display: block;
    text-align: center;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    width: auto;
    height: auto;
    color: rgb(139,37,0); 
    margin-top: 20px;
    /*text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    text-shadow:  3px 0px black, 9px 8px 0px rgba(0,0,0,0.15);
}

