@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot");
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: rgba(250, 250, 250, 1);
    font-family: "Roboto Light";
    color: rgba(30, 30, 30, 1);
}

header {
    width: 580px;
    height: 100px;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
}

header #header-image {
    width: 580px;
    height: 90px;
}

footer {
    text-align: center;
    font-size: 20px;
}

content {
    flex: 1;
    min-height: 100%;
    margin-top: 70px;
    padding: 25px;
    position: relative;
}

#game {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    width: 1700px;
    height: 800px;
}

#game-map-game-features {
    display: block;
    margin-left: 10px;
    width: 200px;
    height: 350px;
    background-color: rgb(193,205,205);
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(200, 90, 90);
}

#game-map-game-features .playerName { 
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

#game-map-game-features .game-map-startNextGame { 
    display: block;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 35px;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(100, 100, 150);
}

#game-map-game-features .game-map-startNextGame:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 150, 0.6);
}

#game-map-game-features .heart {
    display: block;
    text-align: center;
    width: 40px;
    height: 36px;
    margin-top: 15px;
    margin-left: 5px;
    float: left;
}

#game-map .canvas-container {
    display: block;
    margin-top: -605px;
    margin-left: auto;
    margin-right: auto ;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(30, 30, 30, 1);
}

#game-points {
    position: relative;
    margin-top: 20px;
    margin-left: 45px;
    display: block;
    text-align: center;
    line-height: 120px;
    font-size: 60px;
    font-weight: bold;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    border: 5px solid;
    border-color:  black;
    background-color: rgb(100, 100, 150);
}

#points-message {
    width: 270px;
    height: 50px;
    margin: 0px auto;
    margin-top: -500px;
    background-color: #383838;
    color: rgb(255, 255, 255);
    font-family: Calibri;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

#hearts-message {
    width: 300px;
    height: 70px;
    margin: 0px auto;
    margin-top: -500px;
    background-color: rgb(205, 38, 38);
    color: rgb(255, 255, 255);
    font-family: Calibri;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

#logout {
    position: fixed;
    display: block;
    right: 80px;
    top: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid;
    border-color:  black;
    background-color: rgb(100, 100, 150);
}

#logout:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 150, 0.8);
}

#game-description {
    position: relative;
    margin-top: 40px;
    margin-left: 15px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid;
    border-color:  black;
    background-color: rgb(100, 100, 150);
}

#game-description:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 150, 0.5);
}