#game-start {
    display: block; 
    margin: 0px auto;
    text-align: center;
    width: 1200px;
    height: 777px;
    margin-top: -50px;
    border-radius: 50px;
    border: 5px solid orange;
    border-color: rgb(200, 90, 90);
}

#snoopy-background {
    display: block; 
    margin: 0px auto;
    text-align: center;
}

#game-title {
    margin-top: 20px;
    margin-left: 10px;
    width: 580px;
    height: 100px;
}

#start-view {
    margin-top: 20px;
    margin-left: 70px;
    width: 400px;
    height: 300px;
}

#start-view .title {
    margin-top: 10px;
}
     
#start-view .player-field {
    margin-top: 50px;
    border-radius: 10%;
    width: 320px;
    height: 50px;
    font-size: 20px;
    font-style: italic;
}

#start-view .start-button {
    margin-top: 20px;
    color: #FFF;
    background-color: #900;
    border-radius: 30%;
    width: 130px;
    height: 130px;
    font-size: 30px;
    text-align: center;
    line-height: 130px;  
}

#start-view .start-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.7);
}

#show-highscore-start {
    position: relative;
    margin-left: 840px;
    margin-top: 160px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    width: auto;
    height: auto;
    border-radius: 15px;
    border: 3px solid;
    border-color:  black;
    background-color: rgb(100, 100, 150);
}

#show-highscore-start:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 150, 0.7);
}

#highscore-view-start {
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: auto;
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0,0,0);
    background-color: rgba(152, 251, 152, 0.8);
    top: -380px;
}

#highscoreTableStart {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}