#wortbilder #wortbilder-container {
    display: block;
    position: relative;
    width: 900px;
    height: 650px;
    margin: 0px auto;
    margin-top: -50px;
}

#wortbilder .canvas-container {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto ;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(30, 30, 30, 1);
}

#wortbilder-view {
    display: block; 
    margin: 0px auto;
    text-align: center;
    width: 500px;
    height: 50px;
    margin-top: 15px;
}

#wortbilder-view #answer-wortbilder {
    font-weight: bold;
    border-radius: 20%;
    width: 320px;
    height: 40px;
    font-size: 20px;
}

#wortbilder-view #wortbilder-enter {
    color: #FFF;
    background-color: #900;
    font-weight: bold;
    border-radius: 20%;
    width: 100px;
    height: 40px;
    font-size: 20px;
}

#wortbilder-heartView {
    margin: 0px auto;
    text-align: center;
    width: 260px;
    height: 100px;
    margin-top: 20px;
}

#wortbilder-heartView .wortbilder-heart {
    display: block;
    width: 40px;
    height: 36px;
    left: 10%;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

#wortbilder-time {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    text-align: center;
    line-height: 120px;
    font-size: 60px;
    font-weight: bold;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    border: 5px solid;
    border-color:  black;
    background-color: cornflowerblue; 
}

#wortbilder-score {
    margin: 0px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 190, 30); 
}

