<div id="bilderraten">
    <div id="bilderraten-container">
        <div id="view"></div>
        <div id="snoopy-flight"></div>
        <div id="bilderraten-container-canvas" style="display:none">
            <canvas id="bilderraten-canvas"></canvas>
        </div>
        <div id="result-bilderraten" style="display:none"></div>
        <div id="button-stopp"></div>
        <input type="text" id="answer-bilderraten" style="display:none" placeholder="Deine Antwort" autofocus></input>
        <div id="time"></div>
        <div id="game-message" style="display:none"></div>
    </div>
</div>