<div id="game-won-div">
     <button type="button" id="won-delete-player" name="won-delete-player">Ende</button>
     <button type="button" id="show-highscore" name="show-highscore">Highscore</button>
</div>
<div id="game-won-text"></div>
<div id= "highscore-view" style="display:none" >
    <h1>Highscore</h1>
        <table id="highscoreTable">
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Score</th>
            </tr>
        </table>
        <p>
            <button type="button" id="close-highscore-button" name="closeHighscore">Schließen</button>
        </p>
</div>