<div id="hangman">
    <div id="container">
        <div id="hangman-container">
            <div id="view"></div>
            <div id="hangman-container-canvas">
                <canvas id="hangman-canvas"></canvas>
                <div id="button" style="display:none"></div>
            </div>
            <div id="game-message" style="display:none"></div>
        </div>
    </div>
</div>