<div id="quiz-wahr-falsch">
    <div id="wahr-falsch-container">
        <div id="view"></div>
        <div id="snoopy"></div>
        <div id="questionField" class="hidden"></div>
        <div id="result" class="hidden"></div>
        <div id="answers"></div>
        <div id="time"></div>  
        <div id="game-message" style="display:none"></div>
    </div>
</div>