<div id="quiz-4-answers">
    <div id="four-answers-container">
        <div id="view"></div>
        <div id="snoopy"></div>
        <div id="questionField"></div>
        <div id="result" class="hidden"></div>
        <div id="four-answers-answerField"></div>
        <div id="time"></div>  
        <div id="game-message" style="display:none"></div>
    </div>
</div>