<div id="snake-canvas-div">
    <canvas id="snake-canvas">
     <img src="res/drawables/snake_head1.png" id="sneak-image"/>
        <img src="res/drawables/barrier_snake.png" id="barrier-image"/>
        <img src="res/drawables/snake_food1.png" id="food-image"/>
    </canvas>   
</div>
<div id="snake-score"></div>
<div id="game-message" style="display:none"></div>