<div id="wortbilder">
    <div id="wortbilder-container">
        <div id="wortbilder-score"></div>
        <canvas id="wortbilder-canvas"></canvas>
        <div id="wortbilder-view">
            <input type="text" id="answer-wortbilder" size="40" placeholder="Deine Antwort"></input>
            <button type="button" id="wortbilder-enter" name="wortbilder-enter-guess">Eingabe</button>
        </div>
        <div id="wortbilder-snoopy"></div>
        <div id="wortbilder-heartView"></div>
        <div id="wortbilder-time"></div> 
        <div id="game-message" style="display:none"></div>
    </div>
</div>
